.u-section-1 {
  background-image: url("images/77143220e0ed2fc7fb6de2985a0a0605.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 705px;
}

.u-section-1 .u-image-1 {
  width: 529px;
  height: 457px;
  margin: 124px auto 0;
}

.u-section-1 .u-group-1 {
  width: 739px;
  min-height: 456px;
  margin: -455px auto 70px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 145px 20px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 12px 20px 0;
}

.u-section-1 .u-line-1 {
  width: 102px;
  height: 10px;
  transform-origin: left center;
  margin: 34px auto 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-image-1 {
    width: 436px;
  }

  .u-section-1 .u-group-1 {
    width: 745px;
    margin-top: -456px;
    margin-bottom: 71px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-line-1 {
    width: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-1 .u-image-1 {
    width: 334px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-image-1 {
    width: 313px;
    margin-top: 35px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -438px;
    margin-bottom: 54px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 106px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 61px;
    transform-origin: left center 0;
    margin-top: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 263px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-line-1 {
    width: 51px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 292px;
}

.u-section-2 .u-group-1 {
  width: 831px;
  min-height: 183px;
  margin: 60px auto 30px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-2 .u-group-1 {
    width: 685px;
    margin-top: 74px;
    margin-bottom: 6px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 525px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 492px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: url("images/326f08696b0f3d7a9f28b5635af38ed31.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 504px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 118px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 260px;
}

.u-section-3 .u-icon-1 {
  height: 104px;
  width: 104px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 15px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 9px 33px 0 9px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 260px;
}

.u-section-3 .u-icon-2 {
  height: 104px;
  width: 104px;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 3rem;
  margin: 9px 21px 0;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 260px;
}

.u-section-3 .u-icon-3 {
  height: 104px;
  width: 104px;
  background-image: none;
  margin: 21px 119px 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  font-size: 3rem;
  margin: 9px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -350px;
    margin-left: 107px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-top: 111px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 360px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 97px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -413px;
    margin-left: 81px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 58px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 404px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 73px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 22px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1067px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 452px;
    margin-right: auto;
    margin-left: 44px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 86px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 151px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -232px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 317px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 21px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -39px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin: 30px 6px -16px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 321px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 62px;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 310px;
}

.u-section-4 .u-image-1 {
  height: 419px;
  margin: -132px auto 23px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 160px;
    height: 150px;
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 217px;
    min-height: 0;
    margin-top: -62px;
    margin-bottom: 5px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 659px;
}

.u-section-5 .u-group-1 {
  width: 570px;
  min-height: 171px;
  margin: 36px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 15px 10px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 20px 34px 15px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 23px auto 43px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 245px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 15px 20px 0;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  margin: -50px 17px 0 104px;
}

.u-section-5 .u-text-4 {
  margin: 20px 17px 15px 104px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 245px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 20px;
}

.u-section-5 .u-text-5 {
  font-weight: 400;
  margin: -50px 17px 0 104px;
}

.u-section-5 .u-text-6 {
  margin: 20px 17px 15px 104px;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 245px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 20px;
}

.u-section-5 .u-text-7 {
  font-weight: 400;
  margin: -50px 17px 0 104px;
}

.u-section-5 .u-text-8 {
  margin: 20px 17px 15px 104px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 470px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-5 .u-icon-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 14px;
    margin-left: 103px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: 14px;
    margin-left: 103px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 220px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-right: 14px;
    margin-left: 103px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-right: 14px;
    margin-left: 103px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 220px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-right: 14px;
    margin-left: 103px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 103px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-5 .u-group-1 {
    width: 529px;
    min-height: 198px;
    margin-top: 38px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 20px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-3 {
    width: NaNpx;
    margin-right: 11px;
    margin-left: 90px;
  }

  .u-section-5 .u-text-4 {
    width: NaNpx;
    margin-right: 0;
    margin-bottom: -10px;
    margin-left: 90px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 270px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 13px;
  }

  .u-section-5 .u-text-5 {
    width: NaNpx;
    margin-right: 11px;
    margin-left: 90px;
  }

  .u-section-5 .u-text-6 {
    width: NaNpx;
    margin-right: 11px;
    margin-left: 90px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 270px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 13px;
  }

  .u-section-5 .u-text-7 {
    width: NaNpx;
    margin-right: 11px;
    margin-left: 90px;
  }

  .u-section-5 .u-text-8 {
    width: NaNpx;
    margin-right: 11px;
    margin-bottom: 25px;
    margin-left: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-5 .u-group-1 {
    width: 439px;
    min-height: 208px;
    margin-top: 49px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 261px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-right: 8px;
    margin-left: 93px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-right: 8px;
    margin-bottom: 0;
    margin-left: 93px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 213px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 9px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
    margin-right: 8px;
    margin-left: 93px;
  }

  .u-section-5 .u-text-6 {
    position: relative;
    margin-right: 8px;
    margin-bottom: 0;
    margin-left: 93px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 213px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 9px;
  }

  .u-section-5 .u-text-7 {
    position: relative;
    margin-right: 8px;
    margin-left: 93px;
  }

  .u-section-5 .u-text-8 {
    position: relative;
    margin-right: 8px;
    margin-bottom: 0;
    margin-left: 93px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 5px;
    margin-left: 86px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 5px;
    margin-bottom: 15px;
    margin-left: 86px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 325px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 12px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 5px;
    margin-left: 86px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 5px;
    margin-bottom: 12px;
    margin-left: 86px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 263px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 6px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 5px;
    margin-left: 86px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 5px;
    margin-bottom: 8px;
    margin-left: 86px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 401px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 401px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 0 35px;
}

.u-section-6 .u-form-1 {
  height: 307px;
  width: 510px;
  margin: 12px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 401px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 0 48px 0 21px;
}

.u-section-6 .u-icon-1 {
  height: 49px;
  width: 49px;
  color: rgb(44, 183, 66) !important;
  margin: 23px auto 0 27px;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 300;
  margin: -48px auto 0 86px;
  padding: 0;
}

.u-section-6 .u-text-3 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 23px -27px 0 27px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(241, 80, 72) !important;
  margin: 23px auto 0 27px;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(241, 80, 72) !important;
  margin: -64px auto 0 129px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-form-1 {
    margin-top: -9px;
    width: 410px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -46px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 20px;
    margin-left: 27px;
  }

  .u-section-6 .u-text-3 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-form-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -78px;
    margin-right: -4px;
    margin-left: 4px;
  }

  .u-section-6 .u-form-1 {
    width: 320px;
    margin-top: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 25px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 8px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 32px;
    margin-right: auto;
  }

  .u-section-6 .u-btn-2 {
    font-size: 1.5rem;
    margin-top: -43px;
    margin-right: 8px;
    margin-left: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 32px;
    margin-right: 6px;
    margin-left: -6px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 96px;
  }
}